/* Header.css */
.relative {
    position: relative;
}
  
.tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 8px);
    /* background: linear-gradient(to right, #000000, #2b2c2d);  */
    color: #fff;
    padding: 4px;
}
  
.relative:hover .tooltip {
    display: block;
}
