/*? ---------------------------- */
/** ---------- HEADER ---------- */
/*? ---------------------------- */

#sidebar {
    z-index: 1000;
}

.sidebar-background {
    display: none;
    position: absolute;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.77),  transparent ); 
    width: 500px;
    height: 100vh;
    margin: -40px;
    transition: opacity 5s ease-in-out
}


.glow:hover {
    text-shadow: 0 0 20px rgb(255, 255, 255);
    transform: scale(1.5);
    transition: transform 5s ease-in-out; 
    font-weight: bold;
}
  
.tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 8px);
    color: #fff;
    padding: 4px;
}
  
.relative:hover .tooltip {
    display: block;
}

.relative:hover .sidebar-background {
    display: block;
}